@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Slightly tighter KaTeX inside dense lists */
.katex {
  font-size: 1em;
}
